<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Tablet Choise</title>
        <link rel="stylesheet" type="text/css" href="ext-theme-gray/ext-theme-gray-all-debug.css" />
        <script src="extjs/ext-all-debug-w-comments.js"></script>
        <script src="js/model/item.js"></script>
        <script src="js/store/items.js"></script>
        <script src="js/store/categoryTree.js"></script>
        <script src="js/logIn.js"></script>
        <script src="js/itemsList.js"></script>
        <script src="js/app.js"></script>
    </head>
    <body></body>
</html>